.Header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}
.Nav-bar > ul > li:hover {
    background-color:#f0f0f0;
    cursor: pointer;
    transform: scale(1.05);
}
.logo {
    padding: 10px;
    width: 100px;
    height: 100px;
}
.logo:hover{
    transform: scale(1.05);
}
.Nav-bar > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.Nav-bar > ul > li{
    padding: 10px;
    margin: 10px
}
.res-container {
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    margin: 2px;
    padding: 5px;
    width: 200px;
}
.res-card:hover{
    transform: scale(1.05);
    background: linear-gradient(135deg, #ff8a00, #e52e71);
}
.filter-btn {
    margin: 10px;
    cursor: pointer;
   }
.res-logo {
    width: 100%;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 5px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0
}
.login {
    padding: 0 20px;
    cursor: pointer;
}
.user-card {
    padding: 10px;
    border: 1px solid black;
}